@import './form.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --size: 200;
  --radius: 10;
  --unit: 1px;
  --color: #eeeeee;
  --distance: 10;
  --blur: 18;
  --border-radius: calc(var(--radius) * var(--unit));
  /* prettier-ignore */
  --box-shadow: calc(var(--distance) * var(--unit)) calc(var(--distance) * var(--unit)) calc(var(--blur) * var(--unit)) var(--color); /* x y blur color */
}

.card {
  @apply bg-white shadow-lg rounded-lg py-6 px-8;
}
.card-preview {
  width: calc(var(--size) * var(--unit));
  height: calc(var(--size) * var(--unit));
}
.card-preview,
.box-shadow-base {
  transition: all 0.3s ease-in;
  box-shadow: var(--box-shadow);
}
.card-preview,
.border-radius-base {
  transition: all 0.3s ease-in;
  border-radius: var(--border-radius);
}

/* manipulating the box shadown angle depending on the claases */
:root.top-left {
  /* prettier-ignore */
  /* x y blur color */
  --box-shadow: calc(var(--distance) * var(--unit)) calc(var(--distance) * var(--unit))
    calc(var(--blur) * var(--unit)) var(--color);
}
:root.top-right {
  /* prettier-ignore */
  /* -x y blur color */
  --box-shadow: calc(calc(var(--distance) * var(--unit)) * -1) calc(var(--distance) * var(--unit))
    calc(var(--blur) * var(--unit)) var(--color);
}
:root.bottom-left {
  /* prettier-ignore */
  /* x -y blur color */
  --box-shadow: calc(var(--distance) * var(--unit)) calc(calc(var(--distance) * var(--unit)) * -1)
    calc(var(--blur) * var(--unit)) var(--color);
}
:root.bottom-right {
  /* prettier-ignore */
  /* -x -y blur color */
  --box-shadow: calc(calc(var(--distance) * var(--unit)) * -1)
    calc(calc(var(--distance) * var(--unit)) * -1) calc(var(--blur) * var(--unit)) var(--color);
}

.btn-icon {
  @apply px-2 py-1 rounded-md bg-white shadow-md border text-xs;
}
.icon-copy::before {
  content: 'Copy 📋';
}
.icon-copy.success {
  @apply bg-green-400 border-green-500;
}
.icon-copy.success::before {
  content: 'Success 🎉';
}

.title {
  @apply text-3xl font-bold mb-2;
}
.subtitle {
  @apply text-gray-600;
}
